
@font-face {
    font-family: FuturaPTBook;

    src: url("../fonts/FuturaPTBook.otf") format("opentype");
}
/*para la letra y para quitar el outline del nav*/
*{
    font-family: FuturaPTBook;
    outline: #5f022a !important;

}
html,

body {
    height: 100%;
    width: 100%;
    background-color: white !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    /*    background-color: #eaeaea;*/

}

.wrap > .container {
    padding: 70px 15px 20px;

}
.bootstrap-dialog-footer-buttons > btn {
    margin-right: 10px;
}

#img-footer1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    background-color: #f5f5f5;
    background: #333333;
    color: white;
    width: 100%;
    height: 62%;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
    font-size: 15px;
    color: #FDBB30 !important;

}
li > ul > li:nth-child(1){
    margin-top: -23px;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* Cambio de color del menú */
.navbar{
    background: #5f022a;
    /*    border-color: #5f022a;*/

    /*    height: 8%;*/
    /*    height: 6%;*/  
}

.navbar li a{
    /*    color: white ;*/
    /*    padding-top: 21px ;*/
}
/* Redimensión del logo y centrado con el margin-top */

#logo {
    width: 45px;
    margin-top: -9px;
    /*  padding: 5px;
        position: relative;
        right: 148px;
        bottom: 32px;
        padding: 23px;
        margin-right: 30px;*/
}
/*#mtn{
    position: relative;
    width: 5%;
    left: 1400px;
}*/

/* Letra del footer en blanco */
#footer{
    color:white; 
    /*    width: 100%;*/

}

/* fondo del primer footer, padding para darle espacio y margin para centrar el contenido*/

#footer1{
    background: #333333;
    padding:50px 0 50px 0;
    margin:0 auto;
    /*    width: 100%;*/

    /*
    height: 51.5%;
    */    
    /*
        color: red;*/

}
/* fondo del segundo footer, padding para darle espacio y margin para centrar el contenido*/
#footer2{
    background: #474747;
    padding:50px 0 50px 0;
    margin:0 auto;
    /* width: 100%;
     height: 51.5%;
    */   /*
        clear:both;*/

}


/* Tamaño de las imágenes del footer */
#rocket{
    width:180px;
}
#enlaces{
    /*   position: relative;
       top: 50px;*/

}

/* la imagen coge el ancho de la columna de bootstrap (el 100% de la columna) */
#team{
    width: 100%;
    height: 100%;
    display: block;
}
#team:hover{

    opacity: 80% !important;
}
/*
.carousel {
        position: relative;
        width: 107%;
         BACKGROUND-COLOR: red; 
        right: 42px;
    margin-bottom:20px;
}
.carousel-control{
    background-color:#5f022a;
    background-image:none !important; quita el degradado de los controles
    width:5%;
    opacity:1;
}*/

/* media queries para el footer */

@media only screen and (max-width: 767.98px) {
    #img-footer1{
        display:block;
        width:200px;
        margin:0 auto;
    }
    #text-footer1{
        display:block;
        width:200px;
        margin:0 auto;
        text-align:center;
    }

    /*    #list > li > a{
            background:white;
        }*/
    .carousel {
        display:none;
    }
}

/* formateo de los titulos del gridview */

#w0 > table > thead > tr > th > a{
    color:#5f022a;
}


/* fondo granate para el elemento que esté activo del menú */

#list > li.active > a{

    background-color:#5f022a !important;
    color:#ffb81c;
} 
/*modifico todo lo relacionado con el nav, por ejemplo el borde de abajo en hover*/
.navbar-inverse .navbar-nav > li > a {
    font-size: 15px;
    color: white;
    margin: -4px;
    text-transform: uppercase;
    transition: border-top .3s ease;
}

.navbar-inverse .navbar-nav > li > a:hover{

    color: #FDBB30;
    border-top: solid 5px #FDBB30 ;

}
.navbar-inverse .navbar-nav > li > a:focus{
    border-top: solid 5px #FDBB30 !important;
}

.navbar {
    background: #5f022a;
    /* border-color: #5f022a; */
    /* height: 8%; */
    /* height: 6%; */
    padding: 5px;
}


/* centrar contenido de la tabla*/
.table{
    text-align: center;
    color: #5f022a;
}
th{
    text-align: center;

}
#w0 > table > tbody > tr > td> a{
    color: #5f022a;
    margin: 3px;
}
/*color de los botones*/
body > div.wrap > div > div > p > a{

    background-color: #5f022a;
    border-color: #5f022a;
    color: white;
    margin-bottom: 12px;
    margin-left: 17px;
}


.btn{
    background-color: #5f022a;
    border-color: #5f022a;
    float:right;
    color: white;
}
.btn:hover,.btn:active{
    background-color: #5f022a;
    border-color: #5f022a;
    color: white !important;
}

/*color de las migas de pan*/
body > div.wrap > div > ul > li> a{
    color:#5f022a !important;
}
/*color de los botones*/
.btn-success,.btn-primary,.btn-danger{
    background-color: #5f022a !important;
    border-color: #5f022a;
}

/*quitar barra de yii*/
/*#yii-debug-toolbar{
    display: none !important;
}*/
.breadcrumb{

    display: none !important;

}
.summary{
    display: none !important;
}

#titulo {
    font-size: 35PX;
    text-align: center;
    background-color: #5f022a;
    color: #eaeaff;
    padding: 8px;
    margin-top: 0px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;

    align-items: center;
}
#tituloupdate {
    font-size: 35PX;
    text-align: center;
    background-color: #5f022a;
    color: #eaeaff;
    padding: 8px;
    margin-top: 0px;
    text-transform: uppercase;

}
#titulorenovaciones {
    font-size: 35PX;
    text-align: center;
    background-color: #5f022a;
    color: #eaeaff;
    padding: 8px;
    margin-top: 0px;
    text-transform: uppercase;

}
#titulosin {
    font-size: 35PX;
    text-align: center;
    background-color: #5f022a;
    color: #eaeaff;
    padding: 8px;
    margin-top: 0px;
    text-transform: uppercase;


    align-items: center;
}
#titulosinwarning {
    font-size: 35PX;
    text-align: center;
    background-color: #5f022a;
    color: #eaeaff;
    padding: 8px;
    margin-top: -121px;
    text-transform: uppercase;


    align-items: center;
}
#titulosin2 {
    font-size: 35PX;
    text-align: center;
    background-color: #5f022a;
    color: #eaeaff;
    padding: 8px;
    margin-top: 0px;
    text-transform: uppercase;
    margin-top: 20px;

    align-items: center;
}

#titulo2{
    font-size:  35PX;
    text-align: center;
    background-color:#5f022a;
    color: #eaeaff;
    padding: 8px;
    margin-top: 55px; 
    text-transform: uppercase;
}
/*color del head de la tabla de maximos de equipo*/
table > thead > tr > th > a{
    color: #5f022a;
}
#margen {
    font-size: 23PX;
    text-align: center;
    background-color: #5f022a;
    color: #eaeaff;
    padding: 8px;
    margin: 0px;
}


#submargen{


    text-align: center;
    /* BACKGROUND-COLOR: #5f022a; */
    font-size: 23PX;
    color: black;
    /* margin-top: 43px; */
    /* margin-right: 316px; */
    margin: -10px auto;
    padding: 39px;

}
/*color y tamaño de la letra */
.salario{
    color: black;
    font-size: 22px;
}
/*div para bajar un poco los tres apartados de gastos*/

/*borde rojo de los gastos*/
#borde{
    border-top-style: solid;
    /*    border-right-style: solid;*/
    border-bottom-style: solid;
    /*    border-left-style: solid;*/
    padding-bottom: 30px;
    border-color: #5f022a;
    margin-right: 148px;
    margin: 0 auto;
}
/*los limites salariales de este año y el contrato mas grande*/
#headersalario{
    padding-top: 10px;
    padding-left: 50px;
    float: left;
}
#headersalario2{
    padding-top: 10px;
    padding-left: 50px;
    float: right;
}
#cuerpo {
    margin-top: 94px;
}
/*color del texto del nav cuando estas dentro de una opcion especifica*/
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    color: #FDBB30;
    background-color:#5f022a;
    outline: 0;

}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color:#FDBB30 !important ;
    background-color: #5f022a !important;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #5f022a;
    border-color: #5f022a;

}
/*color del desplegable del nav*/
.navbar li a {
    color: white;

    margin-top: 10px;
}
.navbar li a:hover {
    background-color: #5f022a;
    color:#FDBB30; 

}

.dropdown-menu a:active{
    outline: #5f022a !important;
}



/*prueba*/

#bloque1{
    margin-top: 200px;
    padding-left: 0px;
}
#bloque2{
    margin-top: 200px;
    padding-right: 0px;
}
#bloque1 h1{
    background-color: #eaeaea;
    margin-top: 44px;
    color: #5f022a;
    border-bottom: solid;
    text-align: end;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 10px;
    font-size: 24px;
    cursor: pointer;
    transition:0.4s;
}
#bloque1 h1:hover{
    background-color:#5f022a;
    color: white;
    border-bottom:solid #FDBB30;
    text-decoration: none !important;


}
/*quitar un subrayado q me salia en la home*/
a:hover{
    text-decoration: none;
}

#bloque2 h1{
    background-color: #eaeaea;
    margin-top: 44px;
    color: #5f022a;
    border-bottom: solid;
    text-align:left;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 24px;
    cursor: pointer;
    transition:0.4s;
}
#bloque2 h1:hover{
    background-color:#5f022a;
    color: white;
    border-bottom:solid #FDBB30;

}
#logof{
    opacity: 17%;
    width: 100%;
    margin-bottom: 18px;
    padding: 67px 50px 0px;
}
#logof:hover{


}
#list > li:nth-child(5) > a{
    margin-left: 486px
}

a:link{
    text-decoration: none !important;
}
#victoria{
    background-color: red;
}
#derrota{
    background-color: red;
}

/*.list-view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
#botonescard{
    width: 100%;
}*/
#titulopartidos{
    font-size:35PX;
    text-align:center;
    background-color:#5f022a;
    color:#eaeaff;
    padding: 8px;
    margin-top: 31px;
}
body > div.wrap > div > div > div.cards{
    display: flex;
    justify-content: space-between;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 7px;
    line-height: 1.42857143;
    vertical-align: middle !important;
    border:none;
}
.table{
    border: none;
}
.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;

}
#w1 > div:nth-child(2) > img:nth-child(2){

    vertical-align: middle;
    width: 50%;
    float: right;

}
#w2 >  div:nth-child(2) > img:nth-child(2){
    vertical-align: middle;
    width: 50%;
    float: right;
}
#card1{
    border: 1px solid #dfdfdf;
    /*border-radius: 5px;*/
    width: 48%;
    padding: 0px;
    margin-right: 18px;
    margin-left: 14px;
    margin-bottom: 18px;
    /*color: #5f022a;*/
    font-size: 17px;


}
#card2{

    border: 1px solid #dfdfdf;
    /*border-radius: 5px;*/
    width: 48%;
    padding: 0px;
    padding-top: 2px;
    font-size: 17px;
    /*color: #5f022a;*/
   

}

#card1 h1{
    border-bottom: 1px solid #dfdfdf;
    margin: 0;
    padding: 6px 20px;
    font-size: 23px;
    color: #5f022a;
    text-transform: uppercase;
}
#card2 h1{
    border-bottom: 1px solid #dfdfdf;
    margin: 0;
    padding: 6px 20px;
    font-size: 23px;
    color: #5f022a;
    text-transform: uppercase;

}
ul{
    list-style: none;
}
#titulolista{
    font-size: 60px;
    font-weight: bolder;
}

#card1 img{
    width: 80%;
}
#card2 img{
    width: 80%;
}
#actualizarjugador{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
table tbody{
    font-size: 15px;
}
table thead{
    text-transform: uppercase;
    font-size: 16px;
}
.jugadores-index{
    margin-top: 108px;
}
body > div.wrap > div > div > a{
    float: left;
    width: 124px;
    margin-right: 15px;
}
#boton2{
    float: left;
    width: 124px;
    margin-right: 15px;
    color: #FDBB30;
    background: white;
    color: black;
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: #adadad;

}

#boton1{
    float: left;
    width: 124px;
    margin-right: -1px;
    color: white;
    background: #5f022a;

    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-color: #adadad;

}
#boton2v2{
    float: left;
    width: 124px;
    margin-right: 15px;
    color: #FDBB30;
    background: #5f022a;
    color: white;
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: #adadad;

}

#boton1v2{
    float: left;
    width: 124px;
    margin-right: -1px;
    color: black;
    background: white;

    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-color: #adadad;

}
#boton1v2:hover{
    float: left;
    width: 124px;
    margin-right: -1px;
    color: black;
    background: #adadad;

    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-color: #adadad;

}
#boton1:hover{
    float: left;
    width: 124px;
    margin-right: -1px;

    color: black;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-color: #adadad;

}
#boton2:hover{
    float: left;
    width: 124px;
    margin-right: 15px;
    background-color: #adadad;



}
#boton2v2:hover{
    float: left;
    width: 124px;
    margin-right: 15px;



}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    font-size: 17px;
    margin-top:-35px
}

.form{
    margin-top: 108px;

}
.juegan-create{
    margin-top: 108px;
}  
#jugadorespartidos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
form{
    /* padding: 30px; */
    background-color: #F8F9FA;
    -webkit-box-shadow: 0px 4px 12px 1px rgb(0 0 0 / 53%);
    box-shadow: 0px 4px 12px 1px rgb(0 0 0 / 53%);
    padding-right: 30px;
    padding-left: 30px;
    /* padding-bottom: 0px; */
    padding-top: 20px;
}
#btnf{
    float: right;
    background-color: #5f022a;
    border-color: #5f022a;
    color: white;
    margin-bottom: 12px;
    margin-left: 17px;
}
#w0 > div.form-group.highlight-addon.field-jugadores-lesion{
    width: 50%;
}

/*    #w0 > div:nth-child(6){
           background-color: #E8E8E8;
    margin-bottom: -30px;
    margin-right: -30px;
    margin-left: -30px;
    opacity: 100%; 
    }
*/
.datepicker datepicker-dropdown dropdown-menu datepicker-orient-left datepicker-orient-bottom{
    top: 496px;
    left: 487px;
    z-index: 10;
    display: block;
}
/*//carmiar letra del datepicker*/
.datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: none;
    font-family: -webkit-pictograph;
    line-height:2;
}
.datepicker-switch{
    background-color: #5f022a;
    color: white;
    transition-duration: 0.5s;

}
.datepicker-switch:hover{
    background-color:#5f022a !important;
    opacity: 80%;
    color: white;

}
/*.prev{
     background-color: #5f022a;
    color: white;
     border-radius: 0px;
}
.next{
      background-color: #5f022a;
    color: white;
    border-radius: 0px;
}*/
.datepicker table tr td.active.active{
    background-color: #5f022a !important;
    color: white;
}
span .month focused active{
    background-color: #5f022a !important;
    color: white;
}
.datepicker table tr td span.active.active{
    background-color: #5f022a !important;
    color: white; 
}
/*    espacio entre barra gris de boton y puntos rival de formulario*/
/*    #w0 > div:nth-child(6) > div{
        padding-bottom: 20px;
    }*/
#botonescard{
    width: 100%;
}
/*//vista como la de boston*/
.imagenjugador{
    width: 30%;
}
#cartas {
    /* padding: 10px; */
    background-color: #F2F2F2;
    /* padding: 0px; */
    margin-right: 27px;
    margin-bottom: 27px;
    width: 48%;
    -webkit-box-shadow: 0px 4px 12px 1px rgb(0 0 0 / 53%);
    box-shadow: 0px 4px 12px 1px rgb(0 0 0 / 53%);
}
#sub{
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 2px;
}

#subcartas > img{
    width: 100%;
        margin-top: 24px;
}
#subcartas2 > h1{
    color: #5f022a;
    font-size: 1.9em;
    float: right;
}
#subcartas3 > h1{
    font-size: 30px;
    color: #5f022a;
    margin-top: 5px;
    margin-bottom: -3px;
}
#subcartas3 > p{
    font-size: 25px;
    color: #FDBB30;
    margin-left: 4px;

}
@media (min-width: 1200px){
    .container{
        width: 1380px;
    }
}


table > tbody > tr> td> a{
    color:#5f022a;
}
table > tbody > tr> td> a:hover{
    color:#5f022a;
}
table > thead > tr > th > a:hover{
    color: #5f022a;
}
table > tbody > tr> td> a:link{
    color:#5f022a;
}
table > thead > tr > th > a:link{
    color: #5f022a;
}
#prueba {

    /*    overflow: auto;*/

    width: 102%;
}
#listview{

    float: right;
    width: 124px;
    margin-right: 0px;

}
.btn-group, .btn-group-vertical {
    float: left;

}
#titulo > a{
    color: #5f022a !important;
    display:flex; vertical-align:middle;
    background-color: #F9F9F9;

}
#tituloupdate > a{
    color: #5f022a !important;
    display:flex; vertical-align:middle;
    background-color: #F9F9F9;

}

#w0-cols{
    background-color: #F9F9F9;
    color:#5f022a; 
}
.btn btn-default dropdown-toggle{
    color: #5f022a !important;
    display:flex; vertical-align:middle;
    background-color: #F9F9F9;

}
#titulo .btn{
    background-color: #F9F9F9 !important;
    color: #5f022a !important;

}
#titulorenovaciones .btn{
    background-color: #F9F9F9 !important;
    color: #5f022a !important;

}
#titulo2 .btn{
    background-color: #F9F9F9 !important;
    color: #5f022a !important;

}
/*
color del codigo delpartido*/
#juegan-cod_partido{
    color:RGB(167, 167, 167) !important;
}
#tituloform {
    font-size: 35PX;
    text-align: center;
    background-color: #5f022a;
    color: #eaeaff;
    padding: 8px;
    margin-top: 0px;
    text-transform: uppercase;

}
#titulorenovaciones > a:nth-child(2){
    float: left;
}
#tituloañadir {
    font-size: 35PX;
    text-align: center;
    background-color: #5f022a;
    color: #eaeaff;
    padding: 8px;
    margin-top: 0px;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
}

#tituloañadir .btn{
    background-color: #F9F9F9 !important;
    color: #5f022a !important;

}
#w4 > table > tbody > tr> td> a{
    margin-left: 7px;
}
.table img{
    float: left !important;

}
/*.table p{
   font-size: 17px;
}*/
#titulonoadmin {
    font-size: 35PX;
    text-align: center;
    background-color: #5f022a;
    color: #eaeaff;
    padding: 8px;
    margin-top: 0px;
    text-transform: uppercase;

    justify-content: space-between;
    align-items: center;
}
#titulonoadmin .btn{
    background-color: #F9F9F9 !important;
    color: #5f022a !important;

}
/*VISTA MARGEN CON CAJITAS*/

#contratocaro{
    border: 1px solid #dfdfdf;
    padding: 0px;
    width: 48%;
}
#titulocontratocaro {
    font-size: 48px;
    font-weight: bolder;
    margin-top: 10px;
}

body > div.wrap > div > div > div:nth-child(2) > div > div:nth-child(2) > img{
    vertical-align: middle;
    width: 80%;
}
body > div.wrap > div > div > div:nth-child(2) > h1{
    border-bottom: 1px solid #dfdfdf;
    margin: 0px;
    /* margin: 0; */
    padding: 7px 15px;
    font-size: 23px;
    COLOR: #860038;
}
body > div.wrap > div > div > div:nth-child(4){
    /*    margin-right: -24px;
        margin-left: -15px;*/
}
body > div.wrap > div > div > div:nth-child(5){
    margin-right: -24px;
    margin-left: -15px;
}

#statscontrato{
    margin-right: -42px;
    margin-left: 0px;
}
#foto > img{
    width: 80%
}
#contratocaro > h1{
    border-bottom: 1px solid #dfdfdf;
    margin: 0;
    padding: 6px 20px;
    font-size: 23px;
    color: #5f022a;
    text-transform: uppercase;
}
#edificios{
    margin-top: -400px;
}
#edificios img{
    width: 100%;
    opacity: 53%;
}
/*#loginform form{
   box-shadow: none;
   background-color: white;
}*/
/*#caja{
         display: flex;
    width: 85%;

    margin: auto;
    flex-wrap: wrap;
    border: solid 2px #5f022a;
}
#caja #allfor{
    margin: auto;
}*/
#login-form{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    width: 60%;
    margin: auto;
}
#login-form .header {
    /*   background-image:url('../../web/img/espalda2.jpg');*/
    padding: 1.5em 2.5em;
    border-bottom: 1px solid $grey; 
    color: white;
    width: 100%;
    margin: auto;
    background-color: #5f022a;


}
#login-form .header{

}
/*#identificate{
    margin: auto;
}*/
#login-form > div.form-group.field-loginform-username.required.has-error{
    margin-top: 40px !important;
}
#campos{
    margin-top: 45px;
}
#formularioo{

    /* padding: 30px; */
    background-color: ;
    -webkit-box-shadow: 0px 4px 12px 1px rgb(0 0 0 / 53%);
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);
    padding-right: 0px;
    padding-left: 0px;
    /* padding-bottom: 0px; */
    padding-top: 0px;
}
#list{
    width: 100%;
    display: contents;
}

#list > li:nth-child(5){

    float: right !important;
}

#user{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    /* width: 179%; */
    font-style: inherit;
}

/*media queries*/
@media screen and (max-width: 767px) {
    #list > li:nth-child(4) {
        float: none !important;
    }

}
@media screen and (max-width: 767px) {
  #cartas{
    background-color: olive;
    padding: 10px; 
    background-color: #F2F2F2;
     padding: 0px; 
    margin-right: 27px;
    margin-bottom: 27px;
    width: 100%;
    -webkit-box-shadow: 0px 4px 12px 1px rgb(0 0 0 / 53%);
    box-shadow: 0px 4px 12px 1px rgb(0 0 0 / 53%);
  }
}
@media screen and (max-width: 767px) {
  .card{
   width: 100% !important;
    margin-right: 15px !important;
  }
  #list > li:nth-child(5){
      float: left !important;
  }
  #list > li:nth-child(5) > a{
      float: left !important;
      margin-left: 0px;
  }
  
}
    
@media screen and (max-width: 1199px) {
    #bloque1{
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 60px;

    }
    #bloque1 h1{
        text-align: left !important;
        padding-left: 10px;
    }


    #bloque2{
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
#foto > img{
    margin-top:13px;
}

#w0-cols-list > li:nth-child(1) > div > label > span{
    color: #5f022a !important;
}
#w0-cols-list{
    color: #5f022a;
}
/*    usuario*/

#noticia1{
    width: 100%;
}


#notas2 > div > a > div{
     overflow: hidden;
}
#noticiasloultimo > div > div > div > a > div{
       overflow: hidden;
}

#noticia2{
    width: 100%;
    

}
#noticia3{
    width: 100%;

}
#noticiasrow .col-lg-3{
    padding-bottom: 31px;
}
/*.noticias1{
background-image: url('../../web/img/noticia2.jpg')
}*/
#noticiassub{
    overflow: auto;
    float: right;
    width: 50%;
    display: contents;
}
.card h5{
    border-bottom: solid 2px;
    width: 40%;
}
.card p{
    font-weight: bold;
}
.card{

    width: 47%;
    margin-right: 15px;
}
#notas2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#loultimo h1{
    color: #5f022a;
    border-top: solid 6px;
    padding-top: 12px;

}

.card2 img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0.5s;

}
.card img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0.5s;

}
#noticias > div.col-lg-6 > a > div{
    overflow: hidden;
}
#noticia1:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: 0.5s;

}
#user p{
    margin-left: 10px;
}
#user{
    display:flex;
}
nav ul li:last-child{
    height: 30px;
}
.error-404 {
    margin: 0px auto;
    width: 70%;
    text-align: center;
    padding: 30px 0px 80px 0px;
}
.error-404 h2 {
    font-size: 60px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    -moz-text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    -webkit-text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin: 0px 0px 40px 0px;
    padding: 15px 0px;
    border-top: solid 3px #ccc;
    border-bottom: solid 3px #ccc;
    color: #ff9606;
}
.page-404 {
    float: left;
    width: 100%;
    position: relative;
    margin: 0px 0px 30px 0px;
}
.page-404 p {
    font-size: 350px;
    font-weight: bold;
    line-height: 300px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    -moz-text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    -webkit-text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    color: #ff9606;
}
.page-404 span {
    font-size: 48px;
    content: #fff;
    font-weight: bold;
    background-color: #fff;
    margin: -60px 0px 0px 0px;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 50%;
    text-transform: uppercase;
    color: #000;
    line-height: 60px;
}
.error-404 > p {
    margin: 0px 0px 30px 0px;
    font-size: 16px;
}
.error-404 a.go-back {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    border: solid 1px;
    color: #333;
    transition: all 0.3s ease-in-out;
    color: #ff9606;
    border-color: #ff9606;
}
.error-404 a.go-back:hover {
    color: #fff !important;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    background-color: #ff9606;
}arlinacode__title{font-size:3.4rem;margin:0 auto 20px auto}.arlinacode__text{font-size:1.5rem}

#ullogin1{
    display: flex;

}
#ullogin2{
    display: flex;

}
#ullogin1 > li:nth-child(1){
    margin-right: 15px;
    border-bottom: solid;
}
#ullogin2 > li:nth-child(1){
    margin-right: 15px;

}
#ullogin1 li{
    font-size: 18px;
}
#ullogin2 li{
    font-size: 18px;
}
#ullogin1 > li:nth-child(2) a:hover{
    border-color: #FDBB30;
    color: #FDBB30;
}
#ullogin2 > li:nth-child(2){
    margin-right: 15px;
    border-bottom: solid;
}
/*para los errores del login*/
.col-lg-8{
    width: 49.666667%;
}


#ullogin2 > li:nth-child(1) a:hover{
    border-color: #FDBB30;
    color: #FDBB30;
}

#ullogin1 > li > a{
    color: white;
}
#ullogin2 > li > a{
    color: white;
}
#login-form > div > h1{
    margin-left: 36px;
}
#campos > div.form-group.field-loginform-rememberme > div.col-lg-offset-1.col-lg-3{
    margin-left: 212px;
}    
#divimg{
    height: 100vh;
    background-image: url('../../web/img/foto5-(3.5).png');
    /*  background-size: cover;*/

}
#login-form{
    margin-top: 130px;
    /*    opacity: 0.8;*/
}
#login-form > div.row.header{
    background-color: #5f022a;
}
.kv-toggle-all{
    visibility: hidden;
    position: relative;
}
.kv-toggle-all:after{
    content: "Seleccionar todo";
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
}
#titulonoadmincalendar{
    font-size: 35PX;
    text-align: center;
    background-color: #5f022a;
    color: #eaeaff;
    padding: 8px;
    margin-top: 0px;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
#bajar{
    margin-right: -410px;
    background-color: white;
    color: #5f022a;
}
#subir{

    margin-left: -410px;
    margin-right: 530px;
    background-color: white;
    color: #5f022a;
}
.btn-group #w2{
    background-color: white !important;
    color: #5f022a !important;

}
#bajar{
    margin-right: -410px;
    background-color: white;
    color: #5f022a;
}
#subir{

    margin-left: -410px;
    margin-right: 530px;
    background-color: white;
    color: #5f022a;
}
/*#userrandom{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
     width: 179%; 
    font-style: inherit;
}*/

#campos{
    /*    text-align: center;*/
    margin-bottom: 10px;
}
/*#span1{
    margin-right: 343px;
}
#span2{
    margin-right: 325px;
}*/
#campos input{
    margin-top:5px;
}
#w5-cols-list > li> div > label{
    color: #5f022a;
}
#w5-cols-list > li:nth-child(1) > div > label > span{
    color: #5f022a;
}
#noticiasloultimo > div > div> div > div.card-body > h5{
    font-weight: bold;
    min-height: 40px;
    background-color: #5f022a;
    padding: 5px;
    color: white;
    text-transform: uppercase;
}
#notas2 > div> div.card-body > h5{
    font-weight: bold;
    margin-bottom: 4px;
    text-transform: uppercase;
    background-color: #5f022a;
    width: 100%;
    color: white;
    font-size: 15px;
    padding: 5px;

}
article p{
    font-size: 20px;
}
article h1{
    background-color: #5f022a;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}
article img{
    margin-bottom: 20px;
}
body > div.wrap > div > article > header > p{
    float:right;
}
h2{
    font-weight: bolder;
}
#noticia{
    width: 50%;
}
.ultimanoticia{
    font-weight: bold;
    margin-bottom: 34px;
    text-transform: uppercase;
    background-color: #5f022a;
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
}
#titulouser{
    font-size: 35PX;
    text-align: center;
    background-color: #5f022a;
    color: #eaeaff;
    padding: 8px;
    margin-top: 0px;
    text-transform: uppercase;
    text-align: center;
}
#titulonoadmincalendaruser {
    font-size: 35PX;
    text-align: center;
    background-color: #5f022a;
    color: #eaeaff;
    padding: 8px;
    margin-top: 0px;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    padding-left: 526px;
    display: flex;
}
#bajar:hover{
    color: #5f022a !important;

}
#subir:hover{
    color: #5f022a !important;

}
.averages{
    width: 70%;
    table-layout: fixed;
    float: right;
    margin-bottom: 10px;
    border-radius: .25em;
    background-color: #f2f2f2;
        border: 1px solid #ccc;
background-color: #eaeaea;
 
text-align: center;

}
.averages td{
   border-right: 1px solid #ccc;
}
#info{
    display: block;
    margin-bottom: 0px;
    text-align:center;
}
#info li{
    float: right;
    margin-left: 29px;
}
.publicacion{
    font-size: 16px;
}